<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MandatoryColor</key>
	<string>#FFD900</string>
	<key>BackgroundImage</key>
	<string>background_orange</string>
	<key>BackgroundColor</key>
	<string>#FFA000</string>
</dict>
</plist>
